/* HOME PAGE (LANDING) */
body {
    font-family: 'Inter', sans-serif;
}
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #BBDDFF;
}

.titulo-hero {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.subtitulo-hero {
  color: #333;
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 1rem;
}

.botoes-hero {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primario, .btn-secundario {
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.btn-primario {
  background-color: #007BFF;
  color: #fff;
}

.btn-primario:hover {
  background-color: #005fcc;
}

.btn-secundario {
  background-color: #000;
  color: #fff;
}

.btn-secundario:hover {
  background-color: #333;
}

/* SEÇÃO SOBRE */
.sobre {
  background-color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.sobre h2 {
  color: #007BFF;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.sobre p {
  max-width: 700px;
  margin: 0 auto 40px auto;
  color: #555;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 230px;
  padding: 25px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
  color: #000;
}

/* SEÇÃO CONTRIBUA */
.contribua {
  text-align: center;
  background: #BBDDFF;
  padding: 60px 20px;
}

.contribua h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}

.contribua p {
  color: #333;
  max-width: 600px;
  margin: 0 auto 30px;
}

/* RODAPÉ */
.rodape {
  text-align: center;
  font-size: 0.9rem;
  padding: 15px 0;
  background-color: #E6F2FF;
  color: #444;
}